<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ModifyForm</title>
</head>
<body>
<h1>Member ModifyForm</h1>
<hr>

<form action="/api/members" method="post">
	<input type="hidden" name="mno" id="mno" value="${mno}">
	<label for="username">아이디</label>
	<input type="text" name="username" id="username" required><br>
	<label for="password">패스워드</label>
	<input type="password" name="password" id="password" required><br>
	<label for="name">이름</label>
	<input type="text" name="name" id="name" required><br>
	<label for="email">email</label>
	<input type="email" name="email" id="email" required><br>
	<label for="addr">주소</label>
	<input type="text" name="addr" id="addr" required><br>
	<input type="submit" value="수정하기">
	
</form>
<script src="memberScript.js"></script>
</body>
</html>