<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RegistForm</title>
</head>
<body>
<h1>Member List</h1>
<hr>
<form action="/api/members" method="post">
	<label for="username">아이디</label>
	<input type="text" name="username" required><br>
	<label for="password">패스워드</label>
	<input type="password" name="password" required><br>
	<label for="name">이름</label>
	<input type="text" name="name" required><br>
	<label for="email">email</label>
	<input type="email" name="email" required><br>
	<label for="addr">주소</label>
	<input type="text" name="addr" required><br>
	<input type="submit" value="가입하기">
</form>
</body>
</html>